body {	
	margin: 0;
    font-family: Pompadur, 'Comic Sans MS', cursive;
    
    font-size: 15px;
    line-height: 1.6;
    cursor: default;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* контейнер */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*  intro   */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
	height: 100vh;
    
	background:  url("contactfon.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    
}

.intro__title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}
    
/*  header  */
.header {
    width: 100%;
    padding-top: 30px;
    background: #363636;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #f5f5dc;
}

/*  навигация */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    
    color: #f5f5dc;
    text-decoration: none;
    
    transition: 0.4s linear;
}

.nav__link:hover {
    color: #fce38a;
}

/* section */
.section {
    padding: 88px;
}

.section__title {
    text-align:  center;
    font-size: 25px;
    font-weight: 700;
    color: burlywood;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    margin: 0 auto;
    
    background: #f38181;
}

.section__suptitle {
    font-size: 20px;
    margin: 40px auto 0;
}

.section__text {
    text-align: left;
    font-size: 15px;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
}

/* ссылки */
a {
    text-decoration: none;
    font-weight: 800;
}

.a__vk {
    color:  aqua;
}

.a__discord {
    color: dodgerblue;
}

/*  About   */
.about {
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 210;
    height: 118;
}

.about__text {
    color: white;
}